# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\Desktop\Fiverr\Orders\Minecraft Plugin\PlayerFreeze - lilpicklee - 29-01-2021\Source\PlayerFreeze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
